{% extends "rango/base.html" %}
{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Change password</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form-group">
                <form role="form" method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <p class="required">
                            <label class="required" for="old_password">
                                Password:
                            </label>
                            <input class="form-control" id="old_password"
                                   name="old_password" type="password" />
                        </p>
                        <p class="required">
                            <label class="required" for="new_password1">
                                New password:
                            </label>
                            <input class="form-control" id="new_password1"
                                   name="new_password1" type="password" />
                        </p>
                        <p class="required">
                            <label class="required" for="new_password2">
                                New password confirmation:
                            </label>
                            <input class="form-control" id="new_password2"
                                   name="new_password2" type="password" />
                            <span class="helptext">
                                Enter new password as before, for verification.
                            </span>
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}